{% extends '_templates/base.njk' %}

{% block page_title %}The Discography{% endblock %}

{% block page_description %}A list of every studio album released by Queen.{% endblock %}

{% block content %}
<article class="container">
  <h1>Reigning Rock 'n' Roll Royalty</h1>
  <p>Fifteen albums that show the evolution of rock in its golden age.</p>
  <div class="row row-cols-3 row-cols-md-3 row-cols-lg-3 g-4">
    {% for album in discography.discography %}
  <div class="col">
    <div class="card">
      <img src="img/discs/{{ album.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ album.title }}</h5>
        <p class="card-text">{{ album.year }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</article>
{% endblock %}