{% extends '_templates/base.njk' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Queen: Reigning Supreme in Rock Music</h1>
      <p>Hold place hold place hold place hold place hold place hold place hold place hold place hold place hold place hold place. </p>
    </div>
  </div>
</div>
{% endblock %}

