{% extends '_templates/base.njk' %}

{% block page_title %}Band Members{% endblock %}

{% block page_description %}Biographical information about each of the members of the iconic rock band Queen. {% endblock %}

{% block content %}
<article class="container">
  <h1>Behind Queen's Crown</h1>
  <p>Meet the dudes that make up this rock band called Queen.</p>
   <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-sm-1 g-4">
    {% for members in members.members %}
  <div class="col">
    <div class="card">
      <img src="img/members/{{ members.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ members.name }}</h5>
        <p class="card-text">{{ members.instruments }}</p>
        <a href="queen/{{ members.slug }}.html" class="card-link">More Information</a>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
</article>
{% endblock %}