// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";



.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}

.cutive-regular {
  font-family: "Cutive", serif;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}


h1 {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}


h3 {
  font-size: 3rem;
  color: white;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 100%;
}

.overlay-text h3 {
  margin: 0;
  padding-bottom: 20px;
  color: white;
}

.overlay-text h3 {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}

.body-text {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

// Import partials
@import 'nav';
@import 'jumbotron';
@import 'members';
@import 'discography';
@import 'footer';